body {
    font-family: 'Arial', sans-serif;
    background: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #333;
}

h2 {

    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 20px 0;
    backdrop-filter: blur(10px);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
#registrationForm {
    background: rgba(186, 98, 213, 0.9); 
}

#loginForm {
    background: rgba(186, 98, 213, 0.9); 
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

button {
    background: linear-gradient(to right, #6a11cb, #5b1081);
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #2575fc, #6a11cb);
}

button a {
    color: #fff;
    text-decoration: none;
}

#message {
    margin-top: 20px;
    font-size: 1em;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group input:focus {
    border-color: #6a11cb;
    outline: none;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #6a11cb;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #6a11cb;
}
.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}